@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<link href="~/css/site.css" rel="stylesheet" />

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.FirstName" class="form-control" placeholder="Please enter your name." />
                <label asp-for="IndexDTO.FirstName" class="form-label"></label>
                <span asp-validation-for="IndexDTO.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.MiddleName" class="form-control" placeholder="Please enter your middle name." />
                <label asp-for="IndexDTO.MiddleName" class="form-label"></label>
                <span asp-validation-for="IndexDTO.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.LastName" class="form-control" placeholder="Please enter your last name." />
                <label asp-for="IndexDTO.LastName" class="form-label"></label>
                <span asp-validation-for="IndexDTO.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="IndexDTO.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="IndexDTO.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.EducationalInstitution" class="form-control" placeholder="Please enter your institution." />
                <label asp-for="IndexDTO.EducationalInstitution" class="form-label"></label>
                <span asp-validation-for="IndexDTO.EducationalInstitution" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.Birthday" class="form-control" placeholder="Please enter your birthday." />
                <label asp-for="IndexDTO.Birthday" class="form-label"></label>
                <span asp-validation-for="IndexDTO.Birthday" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Student"))
            {
                <div class="form-floating mb-3">
                    <input asp-for="IndexDTO.IdentificationNumber" class="form-control" placeholder="Please enter your identification number." />
                    <label asp-for="IndexDTO.IdentificationNumber" class="form-label"></label>
                    <span asp-validation-for="IndexDTO.IdentificationNumber" class="text-danger"></span>
                </div>
            }
            else if (User.IsInRole("Teacher"))
            {
                <input type="hidden" asp-for="IndexDTO.IdentificationNumber" value="100000" />
            }
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.Country" class="form-control" placeholder="Please enter your country." />
                <label asp-for="IndexDTO.Country" class="form-label"></label>
                <span asp-validation-for="IndexDTO.Country" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="IndexDTO.City" class="form-control" placeholder="Please enter your city." />
                <label asp-for="IndexDTO.City" class="form-label"></label>
                <span asp-validation-for="IndexDTO.City" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Student"))
            {
                <div class="form-floating mb-3">
                    <input asp-for="IndexDTO.CourseEducation" class="form-control" placeholder="Please enter your group number." />
                    <label asp-for="IndexDTO.CourseEducation" class="form-label"></label>
                    <span asp-validation-for="IndexDTO.CourseEducation" class="text-danger"></span>
                </div>
            }
            else if (User.IsInRole("Teacher"))
            {
                <input type="hidden" asp-for="IndexDTO.CourseEducation" value="000" />
            }

            @if (User.IsInRole("Student"))
            {
                <div class="form-floating mb-3">
                    <input type="file" id="photo-upload" name="IndexDTO.Photo" class="form-control" accept="image/*" />
                    <label for="photo-upload" class="form-label">Upload Photo</label>
                </div>
            }

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.IndexDTO.ProfilePicture))
        {
            <img class="avatar" id="profile-picture" alt="ProfilePicture" src="@Model.IndexDTO.ProfilePicture"/>
            <form method="post" asp-page-handler="DeletePhoto" class="mt-2">
                <button style="margin-left: 125px" type="submit" class="btn btn-danger">Delete Photo</button>
            </form>
        }
        else
        {
            <div class="avatar-container">
                <div >@Model.IndexDTO.FirstName.Substring(0, 1)</div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}