<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FaceVerifyAttendanceSystem.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FaceVerifyAttendanceSystem.UI.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FaceVerifyAttendanceSystem.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                                Home<span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                            </li>
                        }
                        @if(User.IsInRole("Teacher"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Index">Course</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><i class="bi bi-book"></i></svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Hutsul Oleksandr</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/oleksandr-hutsul-5b2b95254/"><svg class="bi" width="24" height="24"><i class="bi bi-linkedin"></i></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/sasha11hutsul/"><svg class="bi" width="24" height="24"><i class="bi bi-instagram"></i></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://github.com/OleksandrHutsul"><svg class="bi" width="24" height="24"><i class="bi bi-github"></i></svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://t.me/sasha11_7"><svg class="bi" width="24" height="24"><i class="bi bi-telegram"></i></svg></a></li>
            </ul>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>